# Prerequisites
*.d

# Visual Studio user files
*.user
*.suo
*.ncb
.vs/*
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
Static/
Static En/
out/
build/
winbuild/

# CMake files to ignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.ccmake
_deps

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


