# Prerequisites
*.d

# Visual Studio user files
*.user
*.suo
*.ncb
.vs/*
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
Static/
Static En/
out/
build/
winbuild/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


/ResDll
/Static
